[Desktop Entry]
Encoding=UTF-8
Name=Rezound
Comment=Audio file editor
Comment[pl]=Edytor plików audio
Exec=/usr/bin/rezound
Icon=rezound.png
Terminal=false
Type=Application
Categories=Audio;Recorder;
# vi: encoding=utf-8
