[Desktop Entry]
Name=Rezound
Comment=Audio file editor
Comment[pl]=Edytor plików audio
Exec=rezound
Icon=rezound
Terminal=false
Type=Application
Categories=Audio;Recorder;
# vi: encoding=utf-8
